
.navbar {
    margin: 10px 10px;
}

.menu {
    display: flex;
    list-style: none;
    color: white;
    font-size: 13px;
    font-weight: bold;
}

.option {
    padding: 10px 30px;
    text-decoration: none;
    color: white;
}